
.form-container {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    padding: 1.5rem;
    border-radius: 50px;
    background: #F8f8f8;
    box-shadow:  20px 20px 60px #d3d3d3,
             -20px -20px 60px #ffffff;
}
fieldset{
    border: none;
    padding: none;
  }
label{
    display: block;
  }

input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #f3f4f6;
    width: 200px; 
  }

.startButton {
    background: linear-gradient(to right, #f12711, #f5af19);
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

.startButton:hover {
    box-shadow: none;
    transition: all;
  }